.ios, .md{
page-home {
.button{
    position: absolute;
    bottom: 25%;
    right: 25%;
    left: 25%;
}
.content{
    background: #eee;
    background-image: url('../../assets/imgs/yLOOp.jpg');
}
}
}